{% extends 'admin/adminbase.html' %}

{% block content%}
<body id="page-top">
    <div class="col-md-10">
<div class="container pt-5 pb-5 ">
    <h1 class="text-center pb-3 fw-bold">EDIT</h1>
    <div class="container" style="width: 50%;height:50%;">
        <div class="row">
            <form action="" method="post">
            {% csrf_token %}
            <div class="form-group col-md-12 mb-3">
                <label for="inputname" class="fw-bold">Category Name</label>
                <input type="text" class="form-control mt-3" id="category_name" name="category_name"  value="{{ data.category_name }}" readonly>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="inputname" class="fw-bold">Category Offer</label>
                <input type="number" class="form-control mt-4" id="category_offer" name="category_offer" value="{{ data.category_offer }}" placeholder="Enter category offer">
            </div>
            {% for message in messages %}
            {% if "categoryerror" in message.tags %}
            <p><span class="text-danger">{{message}}</span></p>
            {%endif%} 
            {%endfor%} 
            <div class="col text-center mt-3">
                <button type="submit" class="btn btn-success btn-lg px-4">Submit</button>
            </div>
            </form>
        </div>

    </div>

</div>
    </div>
</body>

{% endblock content%}

