{% extends 'admin/adminbase.html' %}

{% block content%}
{% load static %}

<body id="page-top">
    <div class="container float-left me-5">
        <div class="text-center p-5">
            <h1>PRODUCTS</h1>
        </div>
        <div class="text-end">
          <a href="{% url 'addproduct' %}"><button type="submit" class="btn btn-outline-success btn-lg px-3 mb-2">Add Product</button></a>
        </div>
    <table id ="example" class="table">
        <thead>
          <tr>
            <th scope="col">SL/No</th>
            <th scope="col">product_name</th>
            <th scope="col">category</th>
            <th scope="col">price</th>
            <th scope="col">stock</th>
            <th style="width: 180px;"></th>
          </tr>
        </thead>
        <tbody>
            {% if data %}
            {% for i in data %}
            
            <tr>
                <td>{{ forloop.counter }}</td>
                <th scope="row">
                  <span class="text-decoration-none">{{ i.product_name }}</span>
                </th>
                <td>{{ i.category }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.stock }}</td>
                <td>
                  <a href="{% url 'editproduct' i.id %}" class="btn btn-outline-primary">Edit</a>
                  <a class="btn btn-outline-danger ms-5"data-bs-toggle="modal" data-bs-target="#deleteproduct-{{ i.id }}">Delete</a>
                  <!-- Modal -->
                  <div class="modal fade" id="deleteproduct-{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Do you want to delete {{ i.product_name }}</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'deleteproduct' i.id %}"><button type="button" class="btn btn-danger">Confirm</button></a>
                        </div>
                    </div>
                    </div>
                </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <h5>No products</h5>
        {% endif %}
      </table>
    </div>
    
</body>

{% endblock content%}