{% extends 'user/userbase.html' %}
{% block content %}
<div class="container pt-5 pb-5 ">
    <h1 class="text-center pb-3 fw-bold">EDIT</h1>
    <div class="container p-5" >
        <form action="" class="submit-form" method="post">
            {% csrf_token %}
        <div class="row ">
            
            <div class="form-group col-md-6 my-3">
                <label for="inputname" class="fw-bold">First Name</label>
                <input type="text" class="form-control mt-1" id="first_name" name="first_name" placeholder="first_name" value="{{ data.first_name }}">
            </div>
            <div class="form-group col-md-6 my-3">
                <label for="inputemail" class="fw-bold">Last Name</label>
                <input type="text" class="form-control mt-1" id="last_name" name="last_name" placeholder="last_name" value="{{ data.last_name }}">
            </div>
            <div class="form-group col-md-6 my-3">
                <label for="inputname" class="fw-bold">User Name</label>
                <input type="text" class="form-control mt-1" id="username" name="username" placeholder="username" value="{{ data.username }}">
            </div>
            <div class="form-group col-md-6 my-3">
                <label for="inputname" class="fw-bold">Email</label>
                <input type="text" class="form-control mt-1" id="email" name="email" placeholder="email" value="{{ data.email }}">
            </div>
            <div class="form-group col-md-6 my-3">
                <label for="inputname" class="fw-bold">Phone</label>
                <input type="number" class="form-control mt-1" id="phone_number" name="phone_number" placeholder="phone_number" value="{{ data.phone }}">
            </div>
            {% for message in messages %}
            <p><span class="text-danger">{{message}}</span></p>
            {%endfor%} 
            <div class="col-md-12 text-center mt-5">
                <button type="submit" class="btn btn-success btn-lg px-6">Submit</button>
            </div>
        </div>
    </form>

    </div>

</div>
{% endblock content %}