{% extends 'user/userbase.html' %}
{% block content %}
<div class="container pt-5 pb-5 ">
    <h1 class="text-center pb-3 fw-bold">RESET PASSWORD</h1>
    <div class="container" style="width: 50%;height:50%;">
        <div class="row">
            <form action="{% url 'resetpassword' %}" method="post">
            {% csrf_token %}
            <div class="form-group col-md-12 mb-3">
                <label for="inputname" class="fw-bold">User Name</label>
                <input type="text" class="form-control mt-1" id="username" name="username" value="{{ user.username }}" readonly>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="inputemail"class="fw-bold">Password</label>
                <input type="password" class="form-control mt-1" id="pass" name="pass" placeholder="Password">
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="inputemail"class="fw-bold">Confirm Password</label>
                <input type="password" class="form-control mt-1" id="pass1" name="pass1" placeholder="confirm">
            </div>
            {% for message in messages %}
            <p><span class="text-danger">{{message}}</span></p>
            {%endfor%} 
            <div class="col text-center mt-4">
                <button type="submit" class="btn btn-success btn-lg px-3">SUBMIT</button>
            </div>
            </form>
        </div>

    </div>

</div>

{% endblock content %}